* {
  box-sizing: border-box;
}

body {
background-color: white;
}

header {
background: black;
padding: 25pt;
text-align: center;
}

h1 {
color: salmon
}

nav {
  background-color: salmon;
  padding: 15pt;
}

img {
  text-align: center;
}

div {
margin: 10pt;

}


footer {
background: grey;
padding: 15pt;
}
